# Virtual Enviroment
.venv/

# Enviroment Variables
*.env

# Byte-compiled / optimized / DLL files
__pycache__/

node_modules/

# Logs
*.log

#App Data
secrets.toml
*.db

#vscode
.tool-versions
.vscode/
